<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8531781178-0gc19sej27jr75qv5cvks37m26umergq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8531781178-0gc19sej27jr75qv5cvks37m26umergq</string>
	<key>API_KEY</key>
	<string>AIzaSyARfhJNK7D0q07g1uUJaFvUCz9yuP1Rj0A</string>
	<key>GCM_SENDER_ID</key>
	<string>8531781178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dana.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-dana-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-dana-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8531781178:ios:c4dbef841ed782c7d4b703</string>
</dict>
</plist>